.container {
        width: 300px;
        padding: 20px;
}

h2 {
        text-align: center;
}

p {
        margin-bottom: 10px;
}

#passwordInput {
        width: 100%;
        padding: 5px;
        margin-bottom: 10px;
}

#setTimeBtn {
        width: 100%;
        padding: 10px;
}

#statusMessage {
        text-align: center;
        font-weight: bold;
        margin-top: 20px;
}